.page {
    height: 100vh;
}

.page-content {
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100%;
}

.folder-container {
    background:#eee;
    height: 100%;
}

.folder-item {
    width: 100%;
    height: 40px;
    padding:0 7px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1.7px;

    &.selected {
        background: rgba(0, 0, 255, 0.49);
    }
}


.music-container {
    max-height: 100%;
    overflow-y: auto;
}